@model PaginatedList<DrugData.Models.Package>

<h2>Pakiranja</h2>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Pretraži: <input type="text" id="da" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Pretraži" class="btn btn-default" /> |
            <a asp-action="Index">Cijeli popis</a>
        </p>
    </div>
</form>
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-center">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a>
        </th>
        <th class="text-center"><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Naziv</a></th>
        <th class="text-center">
    </tr>
    @foreach (var item in Model)
    {
        <tr data-toggle="collapse" id="xman" data-target="@("#" + item.PackageId.ToString())" style="cursor:pointer;">
            <td class="text-center">@item.PackageId</td>
            <td class="text-center">@item.PackageType-@item.Quantity-@item.IndividualSize @item.Measure.MeasureName</td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.PackageId" class="btn btn-warning btn-sm">✎</a>
                <form asp-action="Delete" asp-route-id="@item.PackageId" D-route-page="@(Model.PageIndex)"
                      method="POST" style="display: inline-block">
                    <button type="submit" class="btn btn-danger btn-sm">✘</button>
                </form>
            </td>
        <tr></tr>
        <tr class="bg-light">
            <td colspan="8" style="padding:0;margin:0;">
                <div id="@item.PackageId" class="subRow collapse">
                    <div class="container-fluid">
                        <div class="row">
                            <div>
                                <h4>Količina unutar pakiranja: <b>@item.Quantity</b> </h4>
                            </div>
                            <div>
                                <h4>Veličina pojedinačne stavke: <b>@item.IndividualSize @item.Measure.MeasureName</b></h4>
                            </div>

                        </div>
                </div>
            </td>
        </tr>
        </tr>
    }
</table>


<div class="text-center">
    <a asp-action="Add" class="btn btn-primary">Novo pakiranje</a>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    ◄
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    ►
</a>


<style>
    #xman {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 30px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, #xman:hover {
            background-color: #c5c5c5;
        }

    #cman {
        padding: 0 14px;
        display: none;
        overflow: hidden;
        background-color: #ff0000;
    }
    #da {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>