@model PaginatedList<DrugData.Models.Manufacturer>

<h2>Proizvođači</h2>

@foreach (var asset in Model)
{

    <div class="row">
        <div class="column1">
            <img src="@asset.ImagePath" class="imageCell" height="150" max-width="180" />
        </div>
        <div class="column">
            <div>
                <h4><b><center>@asset.ManufacturerName</center></b></h4>
            </div>
            <div>
                @asset.About
            </div>
        </div>
        <div class="column1">
            <div>
                <h4><b><center>Proizvodi</center></b></h4>
            </div>
            <div>
                @{int r = 0;}
                    @foreach (var x in asset.Drugs)
                    {
                        if (r == 5)
                        {
                            break;

                        }
                    <center>
                        <a asp-controller="Drugs" asp-action="Show" asp-route-id="@x.DrugId">@x.DrugName</a>
                    </center>
                        ++r;

                    }
            </div>
        </div>

    </div>

}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex - 1)"
       asp-route-currentCategory="@ViewData["CurrentCategory"]"
       class="btn btn-default @prevDisabled">
        ◄
    </a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentCategory="@ViewData["CurrentCategory"]"
   class="btn btn-default @nextDisabled">
    ►
</a>


<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 35%;
        padding: 10px;
        height: 240px; /* Should be removed. Only for demonstration */
    }

    .column1 {
        float: left;
        width: 20%;
        padding: 10px;
        height: 240px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>