@model PaginatedList<DrugData.Models.User>

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/038%20Grid.css"> <!--grid preuzet s: http://www.responsivegridsystem.com/-->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css"><!--ikone preuzete sa ioicons.com-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
    <section class="section-1 js--section-1">
        <div class="row">
            <h2 class="naslov">
                Admini
            </h2>
        </div>
        <div class="row">
            <form asp-action="Index" method="get" class="search">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" id="da" name="SearchString" placeholder="Pretraži.." value="@ViewData["currentFilter"]" />
                        <button type="submit" value="Pretraži"><i class="fa fa-search"></i></button>

                        <a asp-action="Index" class="popis">Cijeli popis</a>
                        @if (Context.User.IsInRole("Owner"))
                        {
                            <a asp-action="Add" class="btn btn-full">Novi admin</a>

                        }
                    </p>
                </div>
            </form>

            <table class="table table-panel">
                <tr>
                    <th class="text-center">
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><b>Datum registriranja</b></a>
                    </th>
                    <th class="text-center"><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><b>Ime i prezime</b></a></th>
                    <th class="text-center">
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr data-toggle="collapse" id="xman" data-target="@("#" + item.Id.ToString())" style="cursor:pointer;">
                        <td class="text-center-data">@item.UserDate.Date.ToString("dd/MM/yyyy")</td>
                        <td class="text-center-data">@item.FullName</td>
                        <td class="text-center-data">
                            @if (Context.User.IsInRole("Owner"))
                            {
                                <a class="no" asp-action="Edit" asp-route-id="@item.Id">
                                    <b class="pismo">✐</b>
                                </a>
                                <form asp-action="Delete" asp-route-id="@item.Id" asp-route-page="@(Model.PageIndex)"
                                      method="POST" style="display: inline-block">
                                    <b type="submit" class="pismo pismo-ex">✘</b>
                                </form>
                            }
                            <a  class="no" asp-action="SendTo" asp-controller="Message" asp-route-id="@item.Id" class="btn btn-success"><b class="pismo">✉</b></a>
                        </td>
                    <tr></tr>
                    <tr class="bg-light">
                        <td colspan="8" style="padding:0;margin:0;">
                            <div id="@item.Id" class="subRow collapse">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="column">
                                            <div>
                                                <h4 class="ime"><b><center>@item.FullName</center></b></h4>
                                            </div>
                                            <h1></h1>

                                            <div>
                                                <h4>   Mail: <b>@item.Email</b></h4>
                                            </div>
                                            <div>
                                                <h4>   Admin od: <b>@item.UserDate.Date.ToString("dd/MM/yyyy")</b></h4>
                                            </div>
                                        </div>
                                        <div class="column1">
                                            <div>
                                                <h4 class="adresa">Adresa:</h4>
                                                <h4><b>    @item.Address</b></h4>
                                                <h4><b>    @item.City.CityPbr</b></h4>
                                                <h4><b>    @item.City.Country.CountryName</b></h4>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>

                    </tr>

                }


            </table>
        </div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="row admin_dalje">
            <a asp-action="Index"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-page="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="admin_strelica admin_prva @prevDisabled">
                ◄
            </a>
            <a asp-action="Index"
                asp-route-sortOrder="@ViewData["CurrentSort"]"
                asp-route-page="@(Model.PageIndex + 1)"
                 asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="admin_strelica admin_druga @nextDisabled">
                ►
            </a>
        </div>
    </section>
    
</body>
</html>






<style>
        #xman {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 30px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }
    .search button {
        
        margin-top: 8px;
        margin-right: 16px;
        background: #fff;
        font-size: 17px;
        border: none;
        cursor: pointer;
        font-family: 'Lato', 'Arial', sans-serif;
        width:20px;
    }
    .popis{
        margin-left:30px;
        margin-right:50px;
    }


        .active, #xman:hover {
            background-color: #c5c5c5;
        }

    #cman {
        padding: 0 14px;
        display: none;
        overflow: hidden;
        background-color: #ff0000;
    }

    #da {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        width: 400px;
        margin-right: -38px;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    table {
        background-color: transparent;
    }
    .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px;
        line-height: 1.42857143;
        border-top: 1px solid #ddd;
    }
    .text-center {
        text-align: center;
        
    }
    .text-center-data {
        text-align: center;
        padding: 50px;
        font-size: 20px;
    }
    td, th {
        display: table-cell;
        vertical-align: inherit;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
    element.style {
        cursor: pointer;
    }
    .collapse.in {
        display: block;
    }
    .collapse {
        display: none;
    }

    .pismo {
        font-size:38px;
        text-decoration:none;
        color:black;
        margin-left:10px;
        margin-right:10px;
    }
    .pismo-ex:link, .pismo-ex {
        padding: 5px 0;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
    }

        .pismo-ex:hover, .pismo-ex:active {
            border-bottom: 2px solid #269017;
        }

     a:link,
    a:visited {
        padding: 8px 0;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s;
    }

    a:hover,
    a:active {
        border-bottom: 2px solid #269017;
    }

    .ime {
        margin-bottom:30px;
        margin-left:250px;
    }
    .adresa{
        margin-top:58px;
    }
    .no:hover{
        color:transparent;
    }
    
</style>

<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 35%;
        padding: 10px;
        height: 240px; /* Should be removed. Only for demonstration */
    }

    .column1 {
        float: left;
        width: 20%;
        padding: 10px;
        height: 240px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
