@model DrugData.Models.ViewModels.DrugViewModel
<p class="text-danger">
    @ViewBag.FirstNameError
</p>
<form asp-action="Create" method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>


    <h2>
        Novi proizvod
    </h2>
    <div class="form-group">
        <label asp-for="Name">Naziv</label>
        <input asp-for="Name" id="da" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Produced">Datum proizvodnje</label>
        <input asp-for="Produced" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Expires">Datum valjanosti</label>
        <input asp-for="Expires" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price">Cijena</label>
        <input asp-for="Price" id="da" class="form-control" />
        <div class="form-group">
            <label asp-for="CurrencyId">Valuta</label>
            <select asp-for="CurrencyId" asp-items="@(new SelectList((IEnumerable<Currency>) @ViewData["Currencies"],"CurrencyId", "CurrencyName"))" class="form-control"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ImagePath">Poveznica na sliku</label>
        <input asp-for="ImagePath" id="da" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Usage">Uporaba</label>
        <input asp-for="Usage" id="da" class="form-control" />
    </div>


    <div class="form-group">
        <label asp-for="Stock">Količina na skladištu</label>
        <input asp-for="Stock" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryIds">Primjenjivo za bolesti</label>
        <select multiple asp-for="CategoryIds" asp-items="@(new SelectList((IEnumerable<Disease>) @ViewData["Categories"], "DiseaseId", "DiseaseName"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="SideEffectIds">Moguće nuspojave</label>
        <select multiple asp-for="SideEffectIds" asp-items="@(new SelectList((IEnumerable<SideEffect>) @ViewData["SideEffects"], "SideEffectId", "SideEffectName"))" class="form-control"></select>
    </div>
    @*<div class="form-group">
            <label asp-for="z">Zamjenski proizvodi? </label>
            <select name="z">
                <option value="true">Da</option>
                <option value="false">Ne</option>
            </select>
        </div>



        <div class="form-group">
            <label asp-for="DrugIds">Zamjenski proizvodi</label>
            <select multiple asp-for="DrugIds" asp-items="@(new SelectList((IEnumerable<Medication>) ViewData["Drugs"], "DrugId", "DrugName"))" class="form-control"></select>
        </div>*@

    <div class="col">
        <h5><b>Zamjenski proizvodi?</b></h5>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.SubstitutionType, "existing", new { Class = "form-check-input", Id = "ExistingRadio", Name = "SubstitutionType" })
                        <label class="form-check-label" for="ExistingRadio">Da</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.SubstitutionType, "new", new { Class = "form-check-input", Id = "NewRadio", Name = "SubstitutionType" })
                        <label class="form-check-label" for="NewRadio">Ne</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="drugSelectSubstitution">
            <label asp-for="DrugIds">Zamjenski proizvodi</label>
            <select multiple asp-for="DrugIds" asp-items="@(new SelectList((IEnumerable<Medication>) ViewData["Drugs"], "DrugId", "DrugName"))" class="form-control"></select>
        </div>
        <div class="form-group" id="drugCreateSubstitution" style="display: none">
        </div>
    </div>

    <div class="col">
        <h3>Proizvođač</h3>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.ManufacturerType, "existing", new { Class = "form-check-input", Id = "ExistingRadio", Name = "ManufacturerType" })
                        <label class="form-check-label" for="ExistingRadio">Odaberi postojećeg proizvođača</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.ManufacturerType, "new", new { Class = "form-check-input", Id = "NewRadio", Name = "ManufacturerType" })
                        <label class="form-check-label" for="NewRadio">Dodaj novog proizvođača</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="drugSelectManufacturer">
            <label asp-for="ManufacturerId">Proizvođač</label>
            <select asp-for="ManufacturerId" asp-items="@(new SelectList((IEnumerable<Manufacturer>) @ViewData["Manufacturers"], "ManufacturerId", "ManufacturerName"))" class="form-control"></select>
        </div>
        <div class="form-group" id="drugCreateManufacturer" style="display: none">
            <div class="form-group">
                <label asp-for="Manufacturer.ManufacturerName">Ime </label>
                <input type="text" id="da" class="form-control" asp-for="Manufacturer.ManufacturerName">
            </div>

            <div class="form-group">
                <label asp-for="Manufacturer.About">O proizvođaču </label>
                <textarea asp-for="Manufacturer.About" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer.ImagePath">Slika</label>
                <input asp-for="Manufacturer.ImagePath" id="da" class="form-control" />
            </div>
        </div>
    </div>

    <div class="col">
        <h3>Pakiranje</h3>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.PackageType, "existing", new { Class = "form-check-input", Id = "ExistingRadio", Name = "PackageType" })
                        <label class="form-check-label" for="ExistingRadio">Odaberi postojeće pakiranje</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(model => model.PackageType, "new", new { Class = "form-check-input", Id = "NewRadio", Name = "PackageType" })
                        <label class="form-check-label" for="NewRadio">Dodaj novo pakiranje</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="drugSelectPackage">
            <label asp-for="PackageId">Pakiranje</label>
            <select asp-for="PackageId" asp-items="@(new SelectList((IEnumerable<Package>) @ViewData["Packages"], "PackageId", "PackageData"))" class="form-control"></select>
        </div>
        <div class="form-group" id="drugCreatePackage" style="display: none">
            <div class="form-group">
                <label asp-for="Package.PackageType">Naziv </label>
                <input type="text" id="da" class="form-control" asp-for="Package.PackageType">
            </div>

            <div class="form-group">
                <label asp-for="Package.Quantity">Količina u pakiranju </label>
                <input asp-for="Package.Quantity" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Package.IndividualSize">Pojedinačna veličina </label>
                <input asp-for="Package.IndividualSize" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MeasureId">Mjerna jedinica</label>
                <select asp-for="MeasureId" id="ne" asp-items="@(new SelectList((IEnumerable<Measure>) @ViewData["Measures"], "MeasureId", "MeasureName"))" class="form-control"></select>
            </div>
        </div>
    </div>



    <div class="text-center">
        <button type="submit" class="btn btn-primary">Spremi</button>
        <a asp-action="Index">
            <button type="button" class="btn btn-secondary">Odustani</button>
        </a>
    </div>
</form>

<script>
    $(document).ready(function () {
        var $registerRadios = $('input[name="ManufacturerType"]');
        if ($registerRadios.length) {
            showManufacturerView();
            $registerRadios.on('change', function (e) {
                showManufacturerView();
            })
        }
    });


    function showPackageView() {
        var value = $('input[name="PackageType"]:checked').first().val();
        if (value === "new") {
            $('#drugCreatePackage').show();
            $('#drugSelectPackage').hide();
        } else {
            $('#drugCreatePackage').hide();
            $('#drugSelectPackage').show();
        }
    }

    $(document).ready(function () {
        var $registerRadios = $('input[name="PackageType"]');
        if ($registerRadios.length) {
            showPackageView();
            $registerRadios.on('change', function (e) {
                showPackageView();
            })
        }
    });


    function showManufacturerView() {
        var value = $('input[name="ManufacturerType"]:checked').first().val();
        if (value === "new") {
            $('#drugCreateManufacturer').show();
            $('#drugSelectManufacturer').hide();
        } else {
            $('#drugCreateManufacturer').hide();
            $('#drugSelectManufacturer').show();
        }
    }

    $(document).ready(function () {
        var $registerRadios = $('input[name="SubstitutionType"]');
        if ($registerRadios.length) {
            showSubstitutionView();
            $registerRadios.on('change', function (e) {
                showSubstitutionView();
            })
        }
    });


    function showSubstitutionView() {
        var value = $('input[name="SubstitutionType"]:checked').first().val();
        if (value === "new") {
            $('#drugCreateSubstitution').show();
            $('#drugSelectSubstitution').hide();
        } else {
            $('#drugCreateSubstitution').hide();
            $('#drugSelectSubstitution').show();
        }
    }

</script>

<style>
    #da {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        margin-left: 35px display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>
