@model PaginatedList<DrugData.Models.Medication>

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/038%20Grid.css"> <!--grid preuzet s: http://www.responsivegridsystem.com/-->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css"><!--ikone preuzete sa ioicons.com-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
    <section class="section-1 js--section-1">
        <div class="row">
            <h2 class="naslov">
                Proizvodi
            </h2>
        </div>
        <div class="row">
            <form asp-action="Index" method="get" class="search">
                <div class="form-actions no-color">
                    <p>
                        <input type="text" id="da" name="SearchString" placeholder="Pretraži.." value="@ViewData["currentFilter"]" />
                        <button type="submit" value="Pretraži"><i class="fa fa-search"></i></button>

                        <a asp-action="Index" class="popis">Cijeli popis</a>
                        <a asp-action="Add" class="btn btn-full">Novi proizvod</a>

                    </p>
                </div>
            </form>
            <table class="table table-panel">
                <tr>
                    <th class="text-center">
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><b>ID</b></a>
                    </th>
                    <th class="text-center"><a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><b>Naziv</b></a></th>
                    <th class="text-center">
                </tr>
                @foreach (var item in Model)
                {
                    <tr data-toggle="collapse" id="xman" data-target="@("#" + item.DrugId.ToString())" style="cursor:pointer;">
                        <td class="text-center-data">@item.DrugId</td>
                        <td class="text-center-data">@item.DrugName @item.Package.IndividualSize@item.Package.Measure.MeasureName</td>
                        <td class="text-center-data">
                            <a class="no" asp-action="Edit" asp-route-id="@item.DrugId" class="btn btn-warning btn-sm">
                                <b class="pismo">✐</b>
                            </a>
                            <form asp-action="Delete" asp-route-id="@item.DrugId" asp-route-page="@(Model.PageIndex)"
                                  method="POST" style="display: inline-block">
                                    <b type="submit"class="pismo pismo-ex">✘</b>
                            </form>
                        </td>
                    <tr></tr>
                    <tr class="bg-light">
                        <td colspan="8" style="padding:0;margin:0;">
                            <div id="@item.DrugId" class="subRow collapse">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="column1">
                                            <div>
                                                <img src=@item.ImagePath class="imageCell" height="150" />
                                            </div>
                                        </div>
                                        <div class="column2">
                                            <div>
                                                <h1><b><center>@item.DrugName @item.Package.IndividualSize@item.Package.Measure.MeasureName</center></b></h1>
                                            </div>
                                            <div><h3></h3></div>
                                            <div>
                                                <h4>      Cijena:<b> @item.Price @item.Currency.CurrencyName</b></h4>
                                            </div>
                                            <div>
                                                <h4>      Datum proizvodnje:<b> @item.DateProduced.Date.ToString("dd/MM/yyyy")</b></h4>
                                            </div>
                                            <div>
                                                <h4>      Datum isteka valjanosti:<b> @item.DateExpires.Date.ToString("dd/MM/yyyy")</b></h4>
                                            </div>
                                            <div>
                                                <h4>      Proizvođač:<b> @item.Manufacturer.ManufacturerName</b></h4>
                                            </div>
                                            <div>
                                                <h4>      Pakiranje:<b> @item.Package.PackageType</b></h4>
                                            </div>
                                            @if (item.Package.Quantity > 1)
                                            {
                                                <div>
                                                    <h4>      Stavki unutar pakiranja:<b> @item.Package.Quantity</b></h4>
                                                </div>

                                            }
                                            <div>
                                                <h4>      Način uporabe:<b> @item.Usage</b></h4>
                                            </div>


                                        </div>
                                        <div class="column2">
                                            <h1> </h1>
                                            <div>
                                                <h4>Primjenjivo za bolesti:</h4>
                                            </div>
                                            <div>
                                                @foreach (var x in item.DrugDiseases)
                                                {

                                                    <h4> <b>    •@x.Disease.DiseaseName</b></h4>
                                                }
                                            </div>
                                            <br /><h4></h4>

                                            <div>
                                                <h4>
                                                    Moguće nuspojave:
                                                </h4>
                                            </div>
                                            <div>
                                                @foreach (var x in item.DrugSideEffects)
                                                {
                                                    <h4> <b>    •@x.SideEffect.SideEffectName</b></h4>
                                                }
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                    </tr>
                }
            </table>
            </div>

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <div class="row admin_dalje">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    class="admin_strelica admin_prva @prevDisabled">
                    ◄
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    class="admin_strelica admin_druga @nextDisabled">
                    ►
                </a>
                </div>
        </section>
            </body>
</html>


                <style>

                   
                    #xman {
                        background-color: white;
                        color: black;
                        cursor: pointer;
                        padding: 30px;
                        width: 100%;
                        border: none;
                        text-align: left;
                        outline: none;
                        font-size: 15px;
                    }

                    .search button {
                        margin-top: 8px;
                        margin-right: 16px;
                        background: #fff;
                        font-size: 17px;
                        border: none;
                        cursor: pointer;
                        font-family: 'Lato', 'Arial', sans-serif;
                        width: 20px;
                    }

                    .popis {
                        margin-left: 30px;
                        margin-right: 50px;
                    }


                    .active, #xman:hover {
                        background-color: #c5c5c5;
                    }


                    #cman {
                        padding: 0 14px;
                        display: none;
                        overflow: hidden;
                        background-color: #ff0000;
                    }


                    #da {
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        box-sizing: border-box;
                        width: 400px;
                        margin-right: -38px;
                    }

                    .table {
                        width: 100%;
                        max-width: 100%;
                        margin-bottom: 20px;
                        margin-top: 30px;
                    }

                    table {
                        border-spacing: 0;
                        border-collapse: collapse;
                    }

                    table {
                        background-color: transparent;
                    }

                    .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                        padding: 4px;
                        line-height: 1.42857143;
                        border-top: 1px solid #ddd;
                    }

                    .text-center {
                        text-align: center;
                    }

                    .text-center-data {
                        text-align: center;
                        padding: 50px;
                        font-size: 20px;
                    }

                    td, th {
                        display: table-cell;
                        vertical-align: inherit;
                    }

                    tr {
                        display: table-row;
                        vertical-align: inherit;
                        border-color: inherit;
                    }

                    element.style {
                        cursor: pointer;
                    }

                    .collapse.in {
                        display: block;
                    }

                    .collapse {
                        display: none;
                    }

                    .pismo {
                        font-size: 38px;
                        text-decoration: none;
                        color: black;
                        margin-left: 10px;
                        margin-right: 10px;
                    }

                    .pismo-ex:link, .pismo-ex {
                        padding: 5px 0;
                        color: #000;
                        text-decoration: none;
                        text-transform: uppercase;
                        border-bottom: 2px solid transparent;
                        transition: border-bottom 0.2s;
                    }

                        .pismo-ex:hover, .pismo-ex:active {
                            border-bottom: 2px solid #269017;
                        }

                    a:link,
                    a:visited {
                        padding: 8px 0;
                        color: #000;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 90%;
                        border-bottom: 2px solid transparent;
                        transition: border-bottom 0.2s;
                    }

                    a:hover,
                    a:active {
                        border-bottom: 2px solid #269017;
                    }

                    .no:hover {
                        color: transparent;
                    }
    
                </style>

                <style>
                    * {
                        box-sizing: border-box;
                    }

                    /* Create two equal columns that floats next to each other */
                    .column {
                        float: left;
                        width: 35%;
                        padding: 10px;
                    }

                    .column1 {
                        float: left;
                        width: 20%;
                        padding: 30px;
                    }

                    .column2 {
                        float: left;
                        width: 40%;
                        padding: 30px;
                    }

                    /* Clear floats after the columns */
                    .row:after {
                        content: "";
                        display: table;
                        clear: both;
                    }
                </style>

