@model PaginatedList2<DrugData.Models.Medication>

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/038%20Grid.css"> <!--grid preuzet s: http://www.responsivegridsystem.com/-->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css"><!--ikone preuzete sa ioicons.com-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

</head>
<body>
    <section class="section-1">
        <div class="row proizvodi">
            <h2 class="naslov">
                Proizvodi
            </h2>
        </div>
        <div class="row">
            <div class="col span-3-of-4">
                @foreach (var drink in Model)
                {
                    @Html.Partial("DrugSummary", drink)

                    
                }
            </div>
        </div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <div class="row dalje">
            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-currentCategory="@ViewData["CurrentCategory"]"
               class="strelica prva @prevDisabled">
                ◄
            </a> 
            <a asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-currentCategory="@ViewData["CurrentCategory"]"
               class="strelica druga @nextDisabled">
                ►
            </a>
        </div>
        
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</body>
</html>



        

        <style>
            .proizvodi {
                display:block;
                margin:0px auto;
            }

            .strelica {
                background-color:#f4f0f0;
                font-size:200%;
                text-decoration:none;
                color:#808080;
            }

            .strelica.disabled,
            .strelica[disabled],
            fieldset[disabled] .strelica {
                cursor: not-allowed;
                opacity: 0.65;
                filter: alpha(opacity=65);
                -webkit-box-shadow: none;
                box-shadow: none;
            }

            a.strelica.disabled,
            fieldset[disabled] a.strelica {
                pointer-events: none;
            }

            .span-3-of-4{
                width:90%;
            }

            .dalje {
                position: absolute;
            }
            
            .prva {
                margin-left:200px;
            }
            .druga {
                margin-left:800px;
            }
        </style>

        <script>
        $(document).ready(function() {
    $('#postBtn').click(function() {
        var list = [];
        $('#formId input:checked').each(function() {
            list.push(this);
        });
        // now names contains all of the names of checked checkboxes
        // do something with it for excamle post with ajax
        $.ajax({
            url: '@Url.Action("Index","Drugs")',
            type: 'POST',
            data: { Parameters: list},
            success: function (result) {
                alert("success")!
            },
            error: function (result) {
                alert("error!");
            }
        });   //end ajax
    });
});
        </script>
