@model Medication

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/038%20Grid.css"> <!--grid preuzet s: http://www.responsivegridsystem.com/-->
    <link rel="stylesheet" type="text/css" href="~/css/ionicons.min.css"><!--ikone preuzete sa ioicons.com-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

</head>
<body>
    <section class="drug-info">
        <div class="row">
            <div class="column1">
                @if (User.IsInRole("Admin"))
                {
                    <div>
                        <center><a asp-controller="Drug" asp-action="Index" asp-route-searchString="@Model.DrugName.ToString()"><img src=@Model.ImagePath class="imageCell" height="200" /></a></center>
                    </div>

                }
                else
                {
                    <div>
                        <center><img src=@Model.ImagePath class="imageCell" height="200" /></center>
                    </div>

                }

                    <div>
                        @if (!User.Identity.IsAuthenticated)
                        {

                            <a asp-controller="Account" asp-action="Login" class="btn btn-full">Dodaj u košaricu</a>





                        }
                        else
                        {
                            if (User.IsInRole("User"))
                            {
                                <center>
                                    <p class="btn btn-group">
                                        <a class="btn btn-success" id="cartButton" asp-controller="Cart" asp-action="AddToCart" asp-route-drugId="@Model.DrugId">
                                            Dodaj u košaricu
                                        </a>

                                    </p>
                                </center>
                            }

                        }

                    </div>
            </div>
            <div class="column2">
                <div class="row">
                    <h2 class="drug-name">@Model.DrugName @Model.Package.IndividualSize@Model.Package.Measure.MeasureName</h2>
                </div>
                <h1></h1>
                <div>
                    <h4>      Cijena:<b> @Model.Price @Model.Currency.CurrencyName</h4></b>
                </div>
                <h4></h4>

                <div>
                    <h4>      Datum proizvodnje:<b> @Model.DateProduced.Date.ToString("dd/MM/yyyy")</b></h4>
                </div>
                <h4></h4>

                <div>
                    <h4>      Datum isteka valjanosti:<b> @Model.DateExpires.Date.ToString("dd/MM/yyyy")</b></h4>
                </div>
                <h4></h4>

                <div>
                    <h4>      Proizvođač:<b> @Model.Manufacturer.ManufacturerName</b></h4>
                </div>
                <h4></h4>

                <div>
                    <h4>      Pakiranje:<b> @Model.Package.PackageType</b></h4>
                </div>
                <h4></h4>

                @if (Model.Package.Quantity > 1)
                {
                    <div>
                        <h4>      Stavki unutar pakiranja:<b> @Model.Package.Quantity</b></h4>
                    </div>

                }
                <h4></h4>

                <div>
                    <h4>      Način uporabe:<b> @Model.Usage</b></h4>
                </div>


            </div>
            <div class="column2 prop">
                <h1> </h1> 
                <div>
                    <h4>Primjenjivo za bolesti:</h4>
                </div>
                <div>
                    @foreach (var x in Model.DrugDiseases)
                    {

                        <h4> <b>    •@x.Disease.DiseaseName</b></h4>
                    }
                </div>
                <br /><h4></h4>

                <div>
                    <h4>
                        Moguće nuspojave:
                    </h4>
                </div>
                <div>
                    @foreach (var x in Model.DrugSideEffects)
                    {
                        <h4> <b>    •@x.SideEffect.SideEffectName</b></h4>
                    }
                </div>
            </div>
        </div>

        @if (Model.Substitutions.Count > 0)
        {
        <div class="row">
            <h2 class="subs">Zamjenski proizvodi</h2>
        </div>
        <div class="row marginTop" id="rex">
            @foreach (var x in Model.Substitutions)
            {
                @*
               <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@x.ImagePath" id="poppy" />
                    <div class="caption">
                        <h3>
                            <center><a asp-controller="Drugs" asp-action="Show" asp-route-id="@x.DrugId">@x.DrugName </a></center>
                        </h3>
                    </div>
                </div>
            </div>
                *@

                <div class="col span-1-of-4 box">
                    <div class="dropdown drug">
                        <img src=@x.ImagePath alt="lisbon" class="dropbtn">
                        <div class="dropdown-content">
                            <a asp-controller="Drugs" asp-action="Show" asp-route-id="@x.DrugId">
                                <h3>Više o proizvodu</h3>
                            </a>

                            @if (User.IsInRole("Admin"))
                            {
                                @if (Model.Quantity < 5 || Model.DateExpires <= DateTime.Now)
                                {
                                    <h3>
                                        <a asp-controller="Drug" asp-action="Edit"
                                           asp-route-id="@x.DrugId"><h3>Uredi</h3></a>
                                    </h3>
                                }
                            }
                            else if (User.IsInRole("User"))
                            {
                                <a asp-controller="Cart" asp-action="AddToCart"
                                   asp-route-drugId="@x.DrugId">
                                    <h3>Dodaj u košaricu</h3>
                                </a>
                            }
                            else if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="Login">
                                    <h3>Dodaj u košaricu</h3>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="caption">
                        <h4>
                            <b>@x.DrugName </b>
                            @if (x.Currency.CurrencyName == "HRK")
                            {
                                <h4><b>@x.Price.ToString() kn</b></h4>

                            }
                            else
                            {
                                <b>@Model.Price.ToString()@Model.Currency.CurrencyName.ToString()</b>



                            }
                        </h4>
                    </div>
                </div>
            }
        </div>

        }
    </section>
    <section class="comments">

        @if (Model.Comments.Count > 0)
        {
            @if (Context.User.Identity.IsAuthenticated == false)
            {
        <div>
            <h2 class="subs">
                Komentari
            </h2>
            <a asp-controller="Account" asp-action="Login" class="comm">Komentiraj </a>
        </div>

            }
            else
            {
                if (Context.User.IsInRole("Admin") || Context.User.IsInRole("Owner") || Context.User.IsInRole("Doctor"))
                {
                    <div>
                        <h2 class="subs">
                            Komentari 
                        </h2>
                    </div>
                }
                else
                {
                    <div>
                        <h2 class="subs">
                            Komentari
                        </h2>
                    </div>
                    <a asp-controller="Drug" asp-action="AddComment" asp-route-id="@Model.DrugId" class="comm">Komentiraj </a>


                }

            }

            @foreach (var x in Model.Comments)
            {
                <div class="row aaaa">
                    <div class="column5">
                        <div>
                            <center><img src="~/images/user.png" class="imageCell" height="80px" /></center>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div>
                                <center><h5><b><a asp-controller="User" asp-action="Index" asp-route-searchString="@x.User.Email.ToString()">@x.User.FullName</a></b></h5></center>
                            </div>

                        }
                        else
                        {
                            <div>
                                <center><h5><b>@x.User.FullName</b></h5></center>
                            </div>
                        }

                        <div>
                            <center><h5>Član od: <b>@x.User.UserDate.ToString("dd/MM/yyyy")</b></center>
                        </div>

                    </div>
                    <div class="column3">
                        <div>
                            <h4>@x.Content</h4>
                        </div>
                    </div>
                    <div class="column4">
                        @if (Context.User.Identity.Name == x.User.Email)
                        {
                            <div>
                                <a asp-controller="Drug" asp-action="EditComment" asp-route-id1="@x.CommentId" asp-route-id2="@Model.DrugId" class="glyphicon glyphicon-pencil text-info remove"></a>
                            </div>
                            <div><h8> </h8></div>
                            <form asp-controller="Drug" asp-action="DeleteComment" asp-route-id1="@x.CommentId" asp-route-id2="@Model.DrugId"
                                  method="POST" style="display: inline-block">
                                <button type="submit" class="glyphicon glyphicon-trash text-danger remove" id="leka"></button>
                            </form>

                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <form asp-controller="Drug" asp-action="DeleteComment" asp-route-id1="@x.CommentId" asp-route-id2="@Model.DrugId"
                                  method="POST" style="display: inline-block">
                                <button type="submit" class="glyphicon glyphicon-trash text-danger remove" id="leka"></button>
                            </form>

                        }
                    </div>
                </div>

            }
        }
        else
        {
            @if (Context.User.Identity.IsAuthenticated == false)
            {
                <div>
                    <h3>
                        Trenutno nema komentara    <a asp-controller="Account" asp-action="Login" class="comm">Komentiraj</a>
                    </h3>
                </div>

            }
            else
            {
                @if (Context.User.IsInRole("User"))
                {
                    <div>
                        <h3>
                            Trenutno nema komentara    <a asp-controller="Drug" asp-action="AddComment" asp-route-id="@Model.DrugId" class="comm">Komentiraj</a>
                        </h3>
                    </div>
                }
                else
                {
                    <div>
                        <h3>
                            Trenutno nema komentara 
                        </h3>
                    </div>
                }
            }
        }
    </section>
</body>
</html>







    <style>
        .btn:link, .btn:visited {
            display: inline-block;
            padding: 6px 25px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            transition: background-color 0.2s, border 0.2s, color 0.2s; /*postepena promjena kad se predje misem*/
        }

        .btn-full:link, .btn-full:visited {
            background-color: #269017;
            border: 1px solid #269017;
            color: #fff;
            margin-left: 110px;
        }

        .comm:link, .comm:visited {
            display: inline-block;
            padding: 6px 25px;
            font-weight: 300;
            text-decoration: none;
            border-radius: 200px;
            transition: background-color 0.2s, border 0.2s, color 0.2s; /*postepena promjena kad se predje misem*/
        }

        .comm:link, .comm:visited {
            background-color: #269017;
            border: 1px solid #269017;
            color: #fff;
            margin-left: 805px;
        }

        


        .btn:hover,
        .btn:active {
            background-color: #3b6124; /*kad se misem prednje preko njega*/
        }

        .btn-full:hover,
        .btn-full:active {
            border: 1px solid #3b6124;
        }

        .btn-ghost:hover,
        .btn-ghost:active {
            border: 1px solid #3b6124;
            color: #fff;
        }

        section {
            padding: 50px 0;
        }

        .drug-info {
            background-color: #f3f3f5;
        }

        .comments {
            background-color: #fff;
        }

        /*************HEADINGS************/

        .drug-name {
            font-weight: 300;
            text-transform: uppercase; /*UPPERCASE*/
        }

        .subs {
            margin-top: 50px;
            font-size: 180%;
            word-spacing: 2px;
            text-align: center;
            margin-bottom: 30px;
            letter-spacing: 1px;
            margin-left: 580px;
            width: 600px;
            font-weight: 300;
            text-transform: uppercase; /*UPPERCASE*/
        }


        .drug-name {
            font-size: 180%;
            word-spacing: 2px;
            text-align: center;
            margin-bottom: 30px;
            letter-spacing: 1px;
            margin-left: 120px;
            width: 600px;
        }



            .drug-name:after, .subs:after { /*NARANCASTA CRTA*/
                display: block;
                height: 2px;
                background-color: #269017;
                content: " ";
                width: 100px;
                margin: 0 auto;
                margin-top: 30px;
            }

        h4 {
            display: block;
            padding: 4px 0;
            font-weight: 400;
        }

        * {
            box-sizing: border-box;
        }

        #rex {
            width: 80%;
        }

        .prop {
            margin-top:68px;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 45%;
            padding: 10px;
        }

        .column1 {
            float: left;
            width: 30%;
            padding: 10px;
        }

            .column1 img {
                margin-top: 110px;
                margin-bottom: 17px;
            }

        .column2 {
            float: left;
            width: 35%;
            padding: 10px;
        }

        .column3 {
            float: left;
            width: 60%;
            padding: 10px;
            margin-top:20px;
        }

        .column5 {
            float: left;
            width: 25%;
            padding: 10px;
        }

            .column5 img {
                margin-top: 10px;
                margin-bottom: 17px;
            }

            .aaaa{
                margin-bottom:20px;
                margin-top:30px;
            }  


        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        #poppy {
            height: 150px
        }


        #xxx {
            padding-top: 20px
        }

        h5 {
            margin:5px;
        }

        #leka {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
        }

        .glyphicon.glyphicon-trash {
            font-size: 25px;
        }

        .glyphicon.glyphicon-pencil {
            font-size: 25px;
        }


        .drug {
            width: 200px;
            height: 180px;
            margin-bottom: 20px;
            float: unset;
            position: relative;
            display: inline-block;
        }

        .drug-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 998;
        }

            .drug-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                float: right;
            }

                .drug-content a:hover {
                    background-color: #ddd;
                }

        .drug:hover .drug-content {
            display: block;
        }


        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html, body {
            background-color: #fff;
            color: #555;
            font-family: 'Lato', 'Arial', sans-serif;
            font-size: 20px;
            font-weight: 300;
            text-rendering: optimizeLegibility;
            overflow-x: hidden;
        }

        .box .dropdown img {
            width: 230px;
            height: 200px;
        }

        .box { /*odnosi se na ove stupce s ikonama*/
            padding: 1%;
            display: block;
            position: center;
        }

        .span-1-of-4 {
            width: 29.8%;
            position: center;
            display: block;
        }

        .box a:link, .box a:visited {
            color: #000;
            text-decoration: none;
        }

        .drug h3 {
            text-transform: none; /*UPPERCASE*/
            margin-bottom: 5px;
            color: #000;
            font-weight: 400;
        }

        .icon-big {
            font-size: 150%;
            color: #000;
            margin-bottom: 27px;
        }

        .caption {
            margin-bottom: 5px;
        }
        .col:first-child {
            margin-left: 100px;
        }
    </style>
