@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Poruke";
}
@model PaginatedList<DrugData.Models.Message>
<h2>
    Popis poruka
    <a asp-action="Add" class="btn btn-primary btn-sm">Nova poruka</a>
</h2>
@if (@ViewData["Success"] != null)
{
    <div class="alert alert-success">Poruka poslana</div>
}
<ul class="list-group">
    @if (!Model.Any())
    {
        <h5 style="color: #778899">Trenutno nema dodanih poruka.</h5>
    }
    @foreach (var m in Model)
    {
        <a asp-action="Show" asp-route-id="@m.MessageId" class="Messages__Message card">
            <div class="card-body">
                @if (@m.GetOtherUser(UserManager.GetUserId(User)).IsAdmin == true)
                {
                    <h5 class="card-title">Admin : @m.GetOtherUser(UserManager.GetUserId(User)).FullName</h5>

                }
                else if (@m.GetOtherUser(UserManager.GetUserId(User)).IsDoctor == true)
                {
                    <h5 class="card-title">Ljekarnik : @m.GetOtherUser(UserManager.GetUserId(User)).FullName</h5>
                }
                else if (@m.GetOtherUser(UserManager.GetUserId(User)).UserName == "sanitas@ljekarna.com")
                {
                    <h5 class="card-title">Ljekarna Sanitas</h5>

                }
                else
                {
                    <h5 class="card-title">Korisnik : @m.GetOtherUser(UserManager.GetUserId(User)).FullName:</h5>
                }
                <h6 class="card-subtitle mb-2 text-muted">@m.MessageDate.ToString("dd. MMM. yyyy.")</h6>
                <p class="card-text">@m.Body</p>
            </div>
        </a>
    }
</ul>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    ◄
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    ►
</a>
